sphinx==8.1.3
furo==2024.8.6
nbsphinx==0.9.6
nbconvert==7.17.1
sphinx-autodoc-typehints==3.0.1
sphinx_mdinclude==0.6.2
myst-parser==4.0.1

numpy==2.2.6
PyOpenGL==3.1.10
PyQt6==6.7.0
scipy==1.15.3
networkx==3.5
pyqtgraph==0.14.0
brainglobe_atlasapi==2.0.7
scikit-spatial==9.0.1
si-prefix==1.3.3
shapely==2.1.1
rtree==1.3.0
zarr==2.18.3
numcodecs==0.15.1
pillow==12.3.0
tqdm==4.70.0
dask==2025.3.0
rembg==2.0.69
opencv-python==4.13.0.92
pymeshfix==0.17.1
manifold3d==3.1.1
mapbox_earcut==2.0.0
trimesh==5.0.0
matplotlib==3.10.9
k-Wave-python==0.6.2